.interest-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }
  
  .interest-item {
    width: 113px;
    height: 113px;
    border: 1px solid #E5E5E5;
    background: rgba(26, 26, 26, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .interest-item p{
    font-size: 17px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 7px;
  }
  .interest-icon {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    
  }
  
  .interest-item.selected {
    background: linear-gradient(45deg, #F8D1E0 0%, #FFFFFF 75%);
    border: 2px solid #F57DB2;
  }
  .modals-button {
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #000000 0%, #ff775e 0%, #FF4D61 47%, #e83abc 100%);
    height: 48px;
    width: calc(100% - 40px);
    border-radius: 24px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex
;
    align-items: center;
    justify-content: center;
}